* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /* font-size: 100%; */
    vertical-align: baseline;
    background: transparent;
    font-family: 'Hanken Grotesk', sans-serif;;
}

.result-header {
    background-image: linear-gradient(#6842ff, #3229ea);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 375px;
    text-align: center;
}

.your-result {
    color: #c1b3ff;
    text-align: center;
    padding-top: 1.7rem;
    font-weight: 500;
}

.score-circle {
    display: inline-block;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.25), rgba(0,0,0,0));
    border-radius: 50%;
    width: 35%;
    height: 38%;
    margin-top: 20px;
}

.score {
    color: white;
    font-weight: 700;
    font-size: 3.5rem;
    text-align: center;
    padding-top: 20px;
}

h5 {
    text-align: center;
    color: #c1b3ff;
    opacity: .7;
}

.result {
    font-weight: 500;
    color: white;
    margin-top: 20px
}

.result-details {
    font-weight: 500;
    color: #c1b3ff;
    padding: 0 50px 0 50px;
    margin-top: 15px;
    opacity: .9;
}

.summary-section {
    display: flex;
    flex-direction: column;
}

.summary-header {
    color: #303b59;
    font-weight: 500;
    margin: 25px 0 20px 25px;
}

.summary-details {
    background-color: #fff6f5;
    display: flex;
    padding: 18px 10px 18px 15px;
    margin: 5px 25px 5px 25px;
    border-radius: 10px;
}

#memory-details {
    background-color: #fffbf2;
}

#verbal-details {
    background-color: #f2fbfa;
}

#visual-details {
    background-color: #f3f3fd;
}

.detail-svg {
    position: relative;
    display: inline;
    margin-right: 10px;
}

#reaction {
    color: #e4838c;
    display: inline;
}

#memory {
    color: #fdbd65;
    display: inline;
}

#verbal {
    color: #14be8d;
    display: inline;
}

#visual {
    color: #121fa2;
    display: inline;
}

.summary-score {
    color: #303548;
    display: inline;
    font-weight: 500;
    margin-left: auto;
    padding-right: 5px;
}

.out-of-100 {
    display: inline;
    opacity: .4;
    margin-left: 3px;
}

.button {
    background-color: #303b59;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 18px 10px 18px 15px;
    margin: 20px 25px 20px 25px;
    border-radius: 30px;
}

.button:hover {
    background-image: linear-gradient(#6842ff, #3229ea);
    cursor: pointer;
}


.attribution { 
    font-size: 11px; text-align: center;
    color: hsl(228, 45%, 44%);
}